waxml/trunk/AtlasXmlBeans2/src/main/xsd/WaxMlSchema/CorrelationMapResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Education) 8.1.4.2482 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wax="http://www.incf.org/WaxML/" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" targetNamespace="http://www.incf.org/WaxML/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" namespace="http://www.opengis.net/gml/3.2" />
    <xs:import schemaLocation="http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd" namespace="http://www.w3.org/1999/xlink" />
    <xs:include schemaLocation="common/WaxML_Base.xsd" />
    <xs:complexType name="CorrelatioMapType">
        <xs:complexContent>
            <xs:extension base="wax:BaseResponseType">
                <xs:choice>
                    <xs:element name="CorrelationUrl" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>This method  returns a URL of a web page to be displayed in a browse</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ImagesReferenceCollection" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:choice>
                                <xs:element name="ImageReferences" type="wax:ImageUrlListType" />
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CorrelationMapResponse" type="wax:CorrelatioMapType" />
    <xs:complexType name="ImageUrlListType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="Url" type="wax:IncfUriRemoteFormat" />
        </xs:choice>
        <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
</xs:schema>
