waxml/trunk/AtlasXmlBeans2/src/main/xsd/WaxMlSchema/DescribeProcesses_central.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Education) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wax="http://www.incf.org/WaxML/" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" targetNamespace="http://www.incf.org/WaxML/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" namespace="http://www.opengis.net/gml/3.2" />
    <xs:import schemaLocation="http://www.w3.org/1999/xlink.xsd" namespace="http://www.w3.org/1999/xlink" />
    <xs:include schemaLocation="common/WaxML_Base.xsd" />
    <xs:import schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd" namespace="http://www.opengis.net/ows/1.1" />
    <xs:import schemaLocation="http://schemas.opengis.net/wps/1.0.0/wpsAll.xsd" namespace="http://www.opengis.net/wps/1.0.0" />
    <xs:element name="DescribeProcessForHubsResponse" type="wax:DescribeProcessForHubsResponseType" />
    <xs:complexType name="DescribeProcessForHubsResponseType">
        <xs:complexContent>
            <xs:extension base="wax:BaseResponseType">
                <xs:sequence>
                    <xs:element name="DescribeProcessCollection">
                        <xs:complexType>
                            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="ProcessDescription" xmlns:q1="http://www.opengis.net/wps/1.0.0" type="q1:ProcessDescriptionType" />
                            </xs:sequence>
                            <xs:attribute name="hubCode" type="xs:string" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
