waxml/trunk/AtlasXmlBeans2/src/main/xsd/WaxMlSchema/ListHubsResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Education) 8.1.4.2482 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wax="http://www.incf.org/WaxML/" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" targetNamespace="http://www.incf.org/WaxML/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" namespace="http://www.opengis.net/gml/3.2" />
    <xs:import schemaLocation="http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd" namespace="http://www.w3.org/1999/xlink" />
    <xs:include schemaLocation="common/WaxML_Base.xsd" />
    <xs:include schemaLocation="common/ListHubServices.xsd" />
    <xs:element name="ListHubsResponse" type="wax:ListHubsResponseType" />
    <xs:complexType name="ListHubsResponseType">
        <xs:complexContent>
            <xs:extension base="wax:BaseResponseType">
                <xs:sequence>
                    <xs:element name="Hubs">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element ref="wax:Hub" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
