waxml/trunk/AtlasXmlBeans2/src/main/xsd/WaxMlSchema/RegistrationRequest.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Education) 9.1.2.3326 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.incf.org/WaxML/"  
xmlns:wax="http://www.incf.org/WaxML/">
    <xs:element name="RegistrationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ObjectUrl" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="RegistrationType" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>
