waxml/trunk/AtlasXmlBeans2/src/main/xsd/WaxMlSchema/RegistrationResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Education) 9.1.2.3326 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:wps="http://www.opengis.net/wps/1.0.0" elementFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.incf.org/WaxML/"  
xmlns:wax="http://www.incf.org/WaxML/" >
    <xs:import schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsAll.xsd" namespace="http://www.opengis.net/ows/1.1" />
    <xs:import schemaLocation="http://schemas.opengis.net/wps/1.0.0/wpsAll.xsd" namespace="http://www.opengis.net/wps/1.0.0" />
    <xs:element name="RegistrationResponse" type="RegistrationResponseType" />
    <xs:complexType name="RegistrationResponseType">
        <xs:annotation>
            <xs:documentation>To meet the needs of Registering data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StatusString" type="xs:string" />
            <xs:element name="Message" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
