waxml/trunk/AtlasXmlBeans2/src/main/xsd/WaxMlSchema/StructureTermsResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Education) 9.0.8.3018 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wax="http://www.incf.org/WaxML/"
    xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified"
    targetNamespace="http://www.incf.org/WaxML/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"
        namespace="http://www.opengis.net/gml/3.2"/>
    <xs:import schemaLocation="http://www.w3.org/1999/xlink.xsd"
        namespace="http://www.w3.org/1999/xlink"/>
    <xs:include schemaLocation="common/WaxML_Base.xsd"/>
    <xs:element name="StructureTermsResponse" type="wax:StructureTermsResponseType"/>
    <xs:complexType name="StructureTermsResponseType">
        <xs:complexContent>
            <xs:extension base="wax:BaseResponseType">
                <xs:sequence>
                    <xs:element name="StructureTerms" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="StructureTerm" type="wax:StructureTermType"
                                    minOccurs="0" maxOccurs="unbounded"/>
                            </xs:sequence>
                            <xs:attribute name="hubCode" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StructureTermType">
        <xs:sequence>
            <xs:element name="Code">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="wax:incfCodeType">
                            <xs:attribute name=" structureID" type="xs:string"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Uri" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="wax:Name" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="wax:Description" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Feature" type="wax:FeatureReferenceType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FeatureReferenceType">
        <xs:sequence>
            <xs:element name="Centroid">
                <xs:complexType>
                    <xs:choice>
                        <xs:element ref="gml:Point"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element ref="wax:BoundedBy"/>
            <xs:element xmlns:q1="http://www.isotc211.org/2005/gmd" name="Url" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:anyURI">
                            <xs:attribute name="srsName" type="xs:token"/>
                            <xs:attributeGroup ref="xlink:simpleAttrs"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Format" type="wax:geometryFomatCodeList"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
